
.card{
    display: inline-block;
    text-align: center;
    margin: 3%;
    width: 50%;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    
}
.card img{
    
    border-radius: 100%;
    margin: 10%;
    
}
@media only screen and (min-width: 768px) {
 .card{
     width: 20%;
 }   
}